@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@600&family=Blaka&display=swap');
:root {
  --text-dark: #0a0a0a;
  --text-light: #737373;
  --extra-light: #f5f5f5;
  --white: white;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-dark);
}

.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}



.btn:hover {
  background-color: var(--extra-light);
}

 .register__image img,
  .popular__card img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: url("./imge/backrawn.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}
.logo {
  width: 50px;
}
.nav__logo a {
  display: flex;
  margin-block: 10px;
  font-size: 2.5rem;
  font-weight: 200;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  white-space: nowrap;
  color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--text-light);
}

.nav__links .btn {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
}

.nav__links .btn:hover {
  color: var(--text-dark);
  background-color: var(--white);
  border-color: var(--white);
}

.header__container {
  padding-block: 10rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  line-height: 5.5rem;
  color: white;
}

.header__container form {
  width: 100%;
  max-width: 400px;
  padding: 2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 5px;
}

.header__container form .btn {
  padding: 10px;
  font-size: 1.25rem;
  background-color: transparent;
}

.header__container form input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--text-dark);
}

.header__container p {
  margin: 15px;
  font-size: 1.9rem;
  font-weight: 400;
  color: white;
}

.popular__grid {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.popular__card {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.popular__card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.popular__card img {
  margin-bottom: 1rem;
  border-radius: 10px;
}

.popular__card p {
  margin-bottom: .5rem;
  font-weight: 500;
  color: var(--text-light);
}

.popular__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.popular__card > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.popular__card .rating {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-light);
}

.popular__card .rating span {
  font-size: 1.2rem;
  color: goldenrod;
}

.popular__card .price {
  color: var(--text-light);
}

.popular__card .price span {
  font-weight: 600;
  color: var(--text-dark);
}

.talent__container .section__header {
  text-align: center;
}

.talent__grid {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.talent__card {
  padding: 2rem 1rem;
  border-radius: 1rem;
  border: 2px solid transparent;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
}

.talent__card:hover {
  border-color: var(--text-dark);
}

.talent__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 13px;
  font-size: 2rem;
  color: var(--text-dark);
  background-color: var(--extra-light);
  border-radius: 10px;
  transition: 0.3s;
}

.talent__card:hover span {
  color: var(--white);
  background-color: var(--text-dark);
}

.talent__card h4 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.talent__card p {
  font-size: 1.4rem;
  color: var(--text-light);
}

.register__grid {
  display: grid;
  background-color: var(--text-dark);
  border-radius: 1rem;
}

.register__content {
  padding-block: 4rem;
  padding-inline: 1rem;
}

.register__content h4 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: var(--white);
}
.register__image {
  display: none;
}
.row iframe  {
  width: 100%;
  
}

 .row{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 2rem;
  background: #0417a3;
  box-shadow:3px 3px 20px rgb(0, 200, 255) ;
  padding: 2rem 3rem;
  border-radius: 10px;

}

 .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
  gap: 1.5rem ;
  margin: 2rem 0;
}
 .box-container .box{
  box-shadow:3px 3px 20px rgb(0, 200, 255) ;

  background: #f9fffd57;
text-align: center;
border-radius: 60px;
padding: 2rem;
}
 .box-container .box  img{
  height: 7rem;
  }
   .box-container .box h3{
      color: grey;
      font-size: 2.5rem;
      padding: 2rem 0;
  }
   .box-container .box p{
      color: rgb(13, 0, 134);
      font-size: 1.5rem;
  }


.footer__bar {
  background-color: var(--text-dark);
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}
.span {
  color: #a6ff009e;
  font-family: sans-serif;
}

@media (width > 540px) {
  .popular__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .talent__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .box-container{
    grid-template-columns: repeat(1, 1fr);

  }

}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
  }

  .header__container {
    padding-block: 8rem 12rem;
  }

  .header__container h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  .popular__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .talent__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .register__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .register__content {
    padding-block: 4rem;
    padding-inline: 4rem 0;
  }

  .register__image {
    display: block;
    position: relative;
    isolation: isolate;
  }

  .register__image img {
    position: relative;
    max-width: 450px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }


}

@media (width > 1024px) {
  .talent__grid {
    grid-template-columns: repeat(3, 1fr);
  }

 
}
@media (max-width: 300px){
  .header__container h1{
font-size: 2rem;
  }
  html{
    font-size: 50%;
  }
  .box-container{
    grid-template-columns: repeat(1, 1fr);

  }
  iframe {
      width: 270px;
  }
}
@media (max-width: 350px) ,(min-width: 350px){
  .header__container h1{
font-size: 2rem;
  }
}
@media (max-width:450px ), (min-width:450px ){

  .box-container{
    grid-template-columns: repeat(1, 1fr);

  }
  iframe {
      width: 270px;
  }
}
